<!DOCTYPE html>
<html lang="en">
<head>
  <title>Photos.adamfield.net</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<style>
.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }
</style>


</head>
<body>


<div class="page-header">
<h1><a href="[% base_path %]">photos.adamfield.net</a></h1>
</div>

    [% content %]

</body>
</html>
